@centerVal : 50%;
@animationTime : 4.2s;
@animationTime-starter : 3s;
@animationTime-open : 1s;
@font-size : 32px;
@info-size : 20px;
@result-padding : 20px;
@title-top : 45%;


body,
html {
    font-family: avenir, sans-serif;
    font-size: @font-size;
    overflow: hidden;
    font-weight: 400;
//    margin-right: @result-padding;
//    margin-left: @result-padding;
    cursor: default;
}


.firstTitlePos(){
            font-size: 28px;
            font-weight: 300;
            top: @title-top;
}


#title {
    position : absolute;
    width : 100%;
    text-align: center;
    .firstTitlePos();
    margin-bottom: 40px;
//            opacity : 0;
    .titleStarter();
}



#info {
    border-radius: 50%;
    width: @info-size;
    height: @info-size;
    position: absolute;
    border-style: solid;
    border-width: 2px;
    right: 3%;
    opacity: 0;
    top: 9%;

    .starter();

    transition: transform .2s;
    &:hover {
        transform: scale(1.4);
    }

}


#info-wrapper {
    &:hover {
        cursor: pointer;
    }
}


#text {
    position: absolute;
    text-align: center;
    width: 80%;
    opacity: 0;
    font-weight: 700;
        margin-right: @result-padding;
    margin-left: @result-padding;
    top: @centerVal;
    left: @centerVal;
    transform: translate(-@centerVal, -@centerVal);
    -webkit-transform: translate(-@centerVal, -@centerVal);

    .starter();
}

.text-wrapper {
    &:hover {
        cursor: pointer;
    }
}


#infoContent {
    position: absolute;
    font-size: 16px;
    text-align: center;
    display: none;
    width: 100%;
    height: 50%;
    background-color: white;
    z-index: 9999;
    top: @centerVal;
    left: @centerVal;
    transform: translate(-@centerVal, -@centerVal);
    -webkit-transform: translate(-@centerVal, -@centerVal);
}



///////////////
.starter() {
    .keyframes(fade-in;
        {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    );
    .animation(fade-in @animationTime ease-in-out 0s forwards);
}


.titleStarter() {
    .keyframes(opening;
        {
        0% {
 .firstTitlePos();
            }
            
        100% {
            font-size: 14px;
            font-weight: 300;
              top: 2%;
                margin : 0;
        }
    }
    );
    .animation2(opening @animationTime-starter ease-in-out 0s forwards);
}


.keyframes(@name;
@arguments) {
    @-moz-keyframes @name {
        @arguments();
    }
    @-webkit-keyframes @name {
        @arguments();
    }
    @keyframes @name {
        @arguments();
    }
}

.animation(@arguments) {
    -webkit-animation: @arguments;
    -moz-animation: @arguments;
    animation: @arguments;
    animation-delay: @animationTime;
}

.animation2(@arguments) {
    -webkit-animation: @arguments;
    -moz-animation: @arguments;
    animation: @arguments;
    animation-delay: @animationTime-starter;
}

